  <div class="bgc">
    <div class="container footer">
      <div class="d-flex jcsb footer-border">
      <div class="fww">
       <ul class="footerlist d-flex">
         <li class="footerlist-card"><a href="#">首頁</a></li>
         <li class="footerlist-card"><a href="#">系列框架</a></li>
         <li class="footerlist-card"><a href="#">系列框架</a></li>
         <li class="footerlist-card"><a href="#">門市據點</a></li>
         <li class="footerlist-card"><a href="#">部落格</a></li>
         <li class="footerlist-card"><a href="#">常見問題</a></li>
       </ul>
       <div class="d-flex footer-conact">
         <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="">
         <h3>0800-000-00</h3>
       </div>
       <div class="d-flex footer-conact">
         <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="">
         <h3>glasses@business.com</h3>
       </div>
      </div>
       <div>
         <img class="social-item" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="fblogo">
         <img class="social-item" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="iglogo">
         <img class="social-item" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="linelogo">
       </div>
      </div>
     <div class="container footer-conact">
    </div>
   <div class="container">
     <div class="d-flex jcsb footer-end">
       <p>Copyright © 2020 Glasses.All rights reserved.</p>
       <ul class="d-flex footer-end">
         <li class="footer-end-a"><a href="#">隱私權政策</a></li>
         <li class="footer-end-a"><a href="#">服務條款</a></li>
       </ul>
     </div>
    </div>
   </div>
   </div>