<div class="bgc">
    <div class="d-flex jcsa headcontainer">
      <div><img class="headlogo" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" width="80px" alt="headlogo"></div> 
       <ul class="d-flex alic nav">
        <li class="nav-item"><a class="navLink" href="./contact.html">系列框架</a></li>
        <li class="nav-item"><a class="navLink" href="#">門市據點</a></li>
        <li class="nav-item"><a class="navLink" href="#">部落格</a></li>
        <li class="nav-item"><a class="navLink" href="#">常見問題</a></li>
       </ul> 
    </div>
</div>