.footer{
	padding-top: 60.02px;
  }

.footerlist-card{
	padding-right: 48px;
}

.footerlist{
	padding-bottom: 36px;
}

.footer img{
	max-width: 100%;
	height: 48px;
	width: 48px;
}

.footer-conact{
	align-items: center;
 }

.footer h3{
	font-size: 36px;
	color: #FFFFFF;
	margin-left: 16px;
	margin-bottom: 16px;
}

.footer-border{
	border-bottom: #fff 1px solid;
	width: 100%;
}

.social-item{
	margin-right: 32px;
}

.footerlist-card a{
	background-color: #AA0601;
	color: #FFFFFF;
	text-decoration: none;
}

.footer-end{
	flex-direction: row;
}

.footer-end p{
   margin-top: 32px;
   margin-bottom: 32px;
   font-size: 16px;
   color: #FFFFFF;
}

.footer-end-a a{
	background-color: #AA0601;
	color: #FFFFFF;
	text-decoration: none;
}

.footer-end li{
	padding-top: 32px;
	padding-bottom: 32px;
	font-size: 14px;
}

.footer-end-a{
	padding-right: 48px;
}


@media (max-width: 576px) {
	.footerlist {
	  display: none;
	}
	.footer img {
	width: 24px;
	  height: 24px;
	}
	.social-item {
	    margin-right: 8px;
	}
	.footer-end{
	  flex-direction: column;
	  font-size: 16px;
	  flex-wrap: wrap;
	}
	.footer-end-a .a{
	  display: block;
	}
	.footer h3 {
	  font-size: 16px;
	}
  }